<menu id="global-menu">
    <li id="global-menu-mymenu"><a href="/users/@me" data-pjax="#body" data-sound="SE_WAVE_MENU"><span class="mii-icon"><img src="http://game-dev-mii-images.account.nintendo.net/18t8jmdaz0nah_normal_face.png" alt="User Page"></span><span>User Page</span></a></li>
    <li id="global-menu-feed"><a href="/" data-pjax="#body" data-sound="SE_WAVE_MENU">Activity Feed</a></li>
    <li id="global-menu-community"><a href="/titles/show" data-pjax="#body" data-sound="SE_WAVE_MENU">Communities</a></li>
    <li id="global-menu-message"><a href="/news/friend_messages" data-pjax="#body" data-sound="SE_WAVE_MENU">Messages</a></li>
    <li id="global-menu-news"><a href="/news/my_news" data-pjax="#body" data-sound="SE_WAVE_MENU">Notifications</a></li>
    <li id="global-menu-exit"><a href="#" data-pjax="#body" data-sound="SE_WAVE_EXIT">Close</a></li>
</menu>